Django>=5.0,<6.0
djangorestframework>=3.15
django-allauth>=0.63
django-htmx>=1.17
celery>=5.3
django-celery-beat>=2.6
redis>=5.0
dj-database-url>=2.1
psycopg2-binary>=2.9
gunicorn>=21.0
whitenoise>=6.6
python-decouple>=3.8
Pillow>=10.0
django-extensions>=3.2
groq>=0.4
